<div class="logo">
    <img alt="Milog" class="img-responsive center-block" src="http://itmanage.liuxiaodao.top/assets/logo-37be8435c8006021c36e41ababb489bf03a6df14dc9daac1ed280c4fb5fe9d09.png">
</div>
<h1>Exception#exception_nitofy</h1>

<p>
  <%= @greeting %>, 这个是exception_notify的html格式的文件
