<% provide :c_active, "set" %>
<% provide :pre_title, "修改白名单" %>
<div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="<%= suppliers_path %>">白名单管理</a></li>
        <li class="active">修改白名单</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <% if @white_list && @white_list.errors.any? %>
        <div id="error-info" class="alert alert-danger">
          <div class="form-error">
            <span class="form-error-field"><%= @white_list.errors.full_messages[0] %></span>
            <span class="glyphicon glyphicon-info-sign icon"></span>
          </div>
        </div>
      <% end %>
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">修改白名单</h3></div>
        <div class="panel-body">
          <%= render 'form' %>
          <br/><a href="<%= white_lists_path %>">>>返回白名单列表</a>
        </div>
      </div>
    </div>
  </div>
</div>
