<% provide :c_active, "user" %>
<% provide :pre_title, "修改员工信息" %>
<div class="container" style="padding-top:70px;">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="/">主页</a></li>
          <li><a href="<%= users_path %>">员工管理</a></li>
          <li class="active">修改员工信息</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 center-block" style="float: none;">
        <%= render "error_msg", user: @user %>
        <div class="panel panel-primary">
          <div class="panel-heading"><h3 class="panel-title">修改员工信息</h3></div>
          <div class="panel-body">
            <%= render "form", user: @user %>
            <br/><a href="<%= users_path %>">>>返回用户列表</a>
          </div>
        </div>
      </div>
    </div>
</div>
