<h1>Hello, world!</h1>


<%= @user %>



<div class="container">
    <form action="" class="form-horizontal">
        <fieldset>
            <legend>Test</legend>
            <div class="control-group">
                <label class="control-label">DateTime Picking</label>
                <div class="controls input-append date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input size="16" type="text" value="" readonly>
                    <span class="add-on"><i class="icon-remove"></i></span>
					<span class="add-on"><i class="icon-th"></i></span>
                </div>
				<input type="hidden" id="dtp_input1" value="" /><br/>
            </div>
			
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });

</script>



http://www.bootcss.com/p/bootstrap-datetimepicker/


<td><%= link_to '删除', signout_path, method: :delete, data: { confirm: '你确定要删除吗?' } %></td>





<form action="/welcome/index" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <h3>图片：</h3>
    <input type="file" id="imgInp" name="file"  >
    <input type="submit" name="" value="提交">
</form>


<div class="boxed-group">
    <form class="simple_form edit_user" id="edit_user_1" enctype="multipart/form-data" action="/welcome/index" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="authenticity_token" value="8vQUSwl5A9r1QRdy+MkCEsXMxDPFMTB3POwZzSA3CCA9lOSZnSrXCQiEdsrE29lEac2Drvrg8cEZddLPMUft0w==">
        <div class="">
            <div class="avatar-upload">
                <span id="upload-avatar-btn" class="btn avatar-btn">上传头像</span>
                <input accept="image/jpg,image/jpeg,image/png,image/gif" class="file optional " id="upload-avatar-input"  type="file" name="file">
            </div>
            <input type="submit" name="commit" value="上传图片"  id="avatar-submit" data-disable-with="">
        </div>
    </form>
</div>
