<h1>Hello, world!</h1>
<div style="padding: 100px 100px 10px;">
	    <form class="bs-example bs-example-form" role="form">
		            <div class="input-group">
				                <span class="input-group-addon">@</span>
						            <input type="text" class="form-control" placeholder="twitterhandle">
							            </div>
								            <br>
									            <div class="input-group">
											                <input type="text" class="form-control">
													            <span class="input-group-addon">.00</span>
														            </div>
															            <br>
																            <div class="input-group">
																		                <span class="input-group-addon">$</span>
																				            <input type="text" class="form-control">
																					                <span class="input-group-addon">.00</span>
																							        </div>
																								    </form>
</div>
