<% provide :c_active, "set" %>
<% provide :pre_title, "修改权限" %>
<div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="<%= rights_path %>">权限管理</a></li>
        <li class="active">修改权限</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <%= render "error_msg" %>
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">修改权限</h3></div>
        <div class="panel-body">
          <%= render "form" %>
          <br/><a href="<%= rights_path %>">>>返回权限列表</a>
        </div>
      </div>
    </div>
  </div>
</div>
