<% provide :c_active, "supplier" %>
<% provide :pre_title, "添加供应商" %>
<div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="<%= suppliers_path %>">供应商管理</a></li>
        <li class="active">修改供应商</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <%= render "error_msg" %>
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">添加供应商</h3></div>
        <div class="panel-body">
          <%= render "form" %>
          <br/><a href="<%= suppliers_path %>">>>返回供应商列表</a>
        </div>
      </div>
    </div>
  </div>
</div>
